.em-list {
  margin: 0;
  padding: 0;
}

.em-list li {
  list-style-type: none;
  margin: 0;
}

.em-row {
  display: flex;
}

/* Front End Components */

.em-profile-btn {
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
  opacity: 0.5;
  transition: all 0.2s ease-in-out;
}

.em-profile-btn:hover {
  opacity: 1;
  transition: all 0.2s ease-in-out;
}

/* TBC */

.em-profile-banner > * {
  width: 100%;
}

/* Profile Header */
.em-profile-header h1,
.em-profile-header h2,
.em-profile-header h3,
.em-profile-header h4,
.em-profile-header h5,
.em-profile-header h6 {
  margin: 0;
}

.em-profile-banner {
  position: relative;
}

.em-profile-banner__change,
.em-profile-banner__change div,
.em-user-avatar__change {
  position: absolute;
}

.em-profile-banner__change .em-profile-btn {
  right: 4px;
  bottom: 4px;
}

.em-profile-header .em-row .em-col {
  margin: 5px;
}

.em-profile-header ul li{
  display: inline-block;
}

.em-profile-header-nav {
  flex-grow: 1;
}

.em-profile-header-nav li a{
  padding: 6px 12px;
}

.em-user-avatar {
  position: relative;
  height: auto;
}

.em-user-avatar .avatar {
  position: absolute;
  top: -70px;
}

.em-profile-picture .avatar,
.em-user-avatar .avatar{
  width: 100%;
}

.em-profile-picture .em-profile-btn{
  position: absolute;
  bottom: 0px;
  text-align: center;
}

.em-user-avatar__change .em-profile-btn,
.em-profile-picture .em-profile-btn{
  text-align: center;
}

.em-user-avatar__change,
.em-profile-picture .em-profile-btn{
  left: 0;
  right: 0;
}

.em-user-avatar__change {
  bottom: -65px;
}

.em-user-avatar__change .em-profile-btn,
.em-user-picture__change .em-profile-btn {
  margin: 0 auto;
  width: 30px;
  border-radius: 50px;
  line-height: 1;
}

.em-header-actions li a {
  font-size: 11px;
}

.em-profile-header .em-logout-btn {
  float: right;
}

@media (max-width: 767px) {
  .em-profile-header-user .em-row {
    flex-direction: column;
    align-items: center;
  }

  .em-user-avatar,
  .em-profile-identifier {
    text-align: center;
  }

  .em-profile-identifier {
    top: -55px;
  }

  .em-user-avatar .avatar {
    left: 0;
  }

  .em-profile-header-nav ul li{
    display: block;
  }

  .em-profile-banner__change {
    top: 4px;
  }

  .em-profile-banner__change .em-profile-btn {
    bottom: unset;
  }
}

/* Registration Form */
.em-user-registered-msg,
.em-user-loggedin-msg{
  padding: 20px 10px;
  text-align: center;
  -webkit-box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.1);
  box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.1);
}